@media (orientation: portrait) {
  .home {
    background-image: url("../img/wedding1.jpg");
  }
}

@media (orientation: landscape) {
  .home {
    background-image: url("../img/wedding2.jpg");
  }
}

@media (min-width: 641px) {
  .home {
    background-image: url("../img/wedding3.jpg");
  }
}

@media (min-width: 1400px) {
  .home {
    background-image: url("../img/wedding4.jpg");
  }
}

